.form {
  background: #0e101c;
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
select option {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
